@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  color: #162F86;
}

header{
  background-attachment: scroll;
}

.container {
  justify-content: center;
  display: flex;
  flex-basis: auto;
  text-align: center;
  align-items: center;
  line-height: 28.5px;
}
nav {
  display: block;
  flex-basis: auto;
  padding: 24px 8px;
}
span{
  margin: 0px 27.5px;
  padding: 7px 0px;
  vertical-align: middle;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: .5px;
}

.big{
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}
.span-col-3{
  grid-column: span 5 / auto;
  justify-content: center;
  text-align: center;
  font-size: 35px;
}

h2{
  text-align: center;
}
p{
  color: #B2BABB;
}
footer{
  width: auto;
  display: block;
  background-color: #162F86;
}

.inner-footer{
  box-sizing: border-box;
  display: block;
  line-height: 28px;
  padding: 12px 30px;
  text-align: center;
}

a{
  color: white;
  text-decoration: none;
  outline: none;
}

.painted {
  margin-left: 10px;
}



#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.logos {
  margin: 10px;
  margin-top: 40px;
  margin-left: 20px;
  display: inline;
  justify-content: center;
}
