@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #162F86;
}

#top-image{
    margin-top: 20px;
}

header{
    background-attachment: scroll;
}

.container {
    justify-content: center;
    display: flex;
    flex-basis: auto;
    text-align: center;
    align-items: center;
    line-height: 28.5px;
}
nav {
    display: block;
    flex-basis: auto;
    padding: 24px 8px;
}
span{
    margin: 0px 27.5px;
    padding: 7px 0px;
    vertical-align: middle;
    line-height: 12px;
    font-weight: 700;
    letter-spacing: .5px;

}

.big{
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 100%;
}

.span-col-3{
    grid-column: span 5 / auto;
    justify-content: center;
    text-align: center;
    font-size: 35px;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF SIX  */
.span_6_of_6 {
    width: 100%;
}

.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 32.26%;
}

.span_1_of_6 {
    width: 15.33%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 1110px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

.stageImg{
    display: block;
    max-width:200px;
    max-height: 125px;
    min-width: 100px;
    min-height: 75px;
    width: auto;
    height: auto;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
}
p{
    color: #B2BABB;
}
footer{
    width: auto;
    display: block;
    background-color: #162F86;
}

.inner-footer{
    box-sizing: border-box;
    display: block;
    line-height: 28px;
    padding: 12px 30px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    outline: none;
}

.painted {
    margin-left: 10px;
}

.portfolio_slider {
    /*margin: 60px auto;*/
}
.portfolio_slider {
    flex: 1 1 0;

}

.inner {
    padding: 6px;
}

.images {
    width: 100%;
    height: 100%;

    margin-top: 50px;
}

.images:hover{
    opacity: 0.9;
}

hr{
    border: 0;
    height: 2px;
    margin: 10px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.container2 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}
.item2{
    float: right;

    text-align: center;
}

.message-text{
    margin-bottom: 10px;
}
.message-text:hover{
    color: #162F86;
}

.image {
    position: relative;
    width: 100%; /* for IE 6 */
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
    ),url(images/Lakes.jpg);
    background-size: cover;
    float: left;
    height: 100%;
}



.the_h2 {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 48px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

